// Colors
$grey-900: hsl(0, 0%, 8%);
$grey-800: hsl(0, 0%, 12%);
$grey-700: hsl(0, 0%, 20%);
$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);

// Typography
$font-size-base: 16px;
$font-size-text: 14px;
$font-family-base: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Spacing
$spacing-500: 2.5rem; // 40px
$spacing-400: 1.5rem; // 24px
$spacing-300: 1rem; // 16px
$spacing-200: 0.75rem;  // 12px
$spacing-100: 0.5rem; // 8px
$spacing-50: 0.25rem; // 4px

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;