@use "@/styles/variables" as *;

.profileCard {
  width: 100%;
  max-width: 24rem; // 384px
  background-color: $grey-800;
  border-radius: $spacing-200;
  padding: $spacing-500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-400;
  text-align: center;

  @media (max-width: $breakpoint-md) {
    max-width: 28.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 20rem;
    padding: $spacing-400;
  }
}

.introduction {
  text-align: center;
  gap: $spacing-50;
}

.socialLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}